*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    border: solid 1px rgb(152, 152, 152);
    height: auto;
    width: auto;

    .header{
        display: flex;
        justify-content: space-between;
        gap: 300px;
        padding: 10px 15px;
    }

    .input-form{
        margin: 50px 0px;
        padding: 0px 40px;
    }

    .input-block{
        background-color: transparent;
        margin: 10px;
        margin: 50px 0px;
        height: 40px;
        width: 460px;

        label{
            display: flex;
            text-align: center;
            justify-content: left;

            strong{
                padding: 10px 0px;
                margin: 0px 20px;
                font-size: 16px;
            }

            textarea{
                resize: none;
                width: 100%;
                height: 100%;
            }
        }

        input{
            border-top: none;
            border-left: none;
            border-right: none;
            height: 100%;
            padding: 10px 0px;
            width: 100%;
        }

        input:hover{
            border-top: none;
            border-left: none;
            border-right: none;
        }
    }
}
