*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    border: solid 2px #99e999;
    background-color: #effcef;
    border-radius: 5px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .left-side{
        width: 300px;

        .input-block{
            margin-bottom: 10px;
            height: 30px;
        }

        .area-block{
            height: 100px;
        }

        input{
            border: #99e999 solid 2px;
            border-radius: 3px;
            height: 100%;
            width: 100%;
        }

        textarea{
            border: #99e999 solid 2px;
            border-radius: 3px;
            height: 100%;
            width: 100%;
            height: 100%;
            width: 100%;
        }
    }

    .right-side{
        margin: 25px;

        span{
            color: rgb(36, 184, 36);

            .spacing{
                margin: 0px 5px;
            }
        }
    }

    hr{
        position: absolute;
        bottom: 50px;
        left: 35px;
        background-color: #99e999;
        border: none;
        width: 700px;
        height: 1px;
    }

    .btn{
        position: absolute;
        bottom: 10px;
        left: 260px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button{
        cursor: pointer;
        border-radius: 4px;
        border: none;
        background-color: #5dd25d;
        color: white;
        font-size: 18px;
        padding: 5px 15px;
    }

}