* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hedvig Letters Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 5px;
  background: rgb(9, 115, 121);
  background: linear-gradient(90deg, rgb(9, 115, 121) 0%, rgb(28, 151, 143) 18%, rgb(64, 255, 208) 100%);
}

.container {
  border: solid 2px black;
  width: 80%;
  min-height: 99vh;
  background-color: transparent;
}
.container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px 25px;
  background-color: aquamarine;
  transition: 0.5s;
}
.container .header h3 {
  font-size: 45px;
  transition: 0.5s;
}
.container .header i {
  margin: 0px 50px;
  font-size: 80px;
  transition: 0.5s;
}
.container .header:hover {
  background-color: rgb(74, 255, 255);
}
.container .header:hover h3 {
  scale: 1.05;
}
.container .header:hover i {
  scale: 1.05;
}
.container .horizontal-bar {
  border: solid 1px black;
  background-color: transparent;
}
.container .horizontal-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}
.container .horizontal-bar ul li {
  float: left;
  border-right: 1px solid black;
  width: 200px;
}
.container .horizontal-bar ul a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  transition: 0.5s;
}
.container .horizontal-bar a:hover {
  scale: 1.5;
  font-weight: 600;
}
.container .main {
  position: relative;
  margin: 0px;
  height: 500px;
  width: 1205px;
  background-color: azure;
  display: grid;
  grid-template-columns: 20% 80%;
}
.container .main .main-block {
  border: black 2px solid;
  width: 100%;
  height: 100%;
  background-color: azure;
}
.container .main .vertical-bar {
  background-color: none;
}
.container .main .vertical-bar .second-bar {
  list-style-type: none;
  width: 100%;
  background-color: #f1f1f1;
  position: static;
  overflow: auto;
  height: 100%;
}
.container .main .vertical-bar .second-bar li {
  border-bottom: solid 2px black;
}
.container .main .vertical-bar .second-bar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.container h4 {
  text-align: center;
  padding: 10px;
}

hr {
  border: solid 1px black;
}/*# sourceMappingURL=style.css.map */