*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.cont{
    border: solid 2px black;
    padding: 30px 60px;
    width: auto;
    height: auto;

    h3{
        font-size: 30px;
    }

    .input-box{
        margin: 20px 0px;
        height: 45px;
        width: 250px;

        input{
            width: 100%;
            height: 100%;
            border-radius: 6px;
            border: 1px solid rgba(146, 146, 146, 0.9);
            padding: 0px 10px;
            
        }

        input::placeholder{
            color:  rgb(83, 83, 83);
        }
    }

    .input-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: azure;
        width: 250px;
        height: 45px;

        button{
            height: 100%;
            width: 100%;
            border-radius: 6px;
            background-color: rgb(252, 75, 59);
            border: none;
            color: white;
            font-size: 24px;
        }
    }

    .register{
        margin: 15px 0px 0px 0px;

        a{
            color: #3877c4;
            font-size: 15px;
        }
    }

}

